<link rel="stylesheet" href="/css/project_main.css">
<script src="/js/project_main.js"></script>
<main class="container col-lg-10 ">
    <div class="d-flex  justify-content-between">
        <div>
            <h4 class="display-5 ps-2">
                <%= project.projectName%>
            </h4>
        </div>
        <div><a href="/issues/create-issue-form/<%=project.id%>" class="btn btn-danger">add issue</a></div>
    </div>
    <hr>
    <div class="row my-4">
        <div class="col-auto">
            <div class="bg-danger text-light text-center project-font px-2 rounded-3 pt-4"><%=issues.length %><br><span>Issues</span></div>
        </div>
        
    </div>
    <hr>
    <h3 class="text-center mb-4">All ISSUES</h3>
    <h4 class="text-muted">Filter :</h4>
    <div class="row justify-content-center  filter-div  mb-3">
        <div class="col-12 col-md-6">
            <!-- accordion for labels -->
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse-label-list" aria-expanded="false"
                            aria-controls="collapse-label-list">
                            <strong class="text-muted">Labels:</strong>
                        </button>
                    </h2>
                    <div id="collapse-label-list" class="accordion-collapse collapse"
                        aria-labelledby="collapse-label-list">
                        <div class="accordion-body accordion-list" id="label-list-accordion">
                            <% for(item of uniqueLabels) {%>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="<%=item%>"
                                        id="label-<%=item%>">
                                    <label class="form-check-label" for="label-<%=item%>">
                                        <%=item%>
                                    </label>
                                </div>
                                <% }%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- accordion for authors-->
        <div class="col-12 col-md-6">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse-author-list" aria-expanded="false"
                            aria-controls="collapse-author-list">
                            <strong class="text-muted">Author:</strong>
                        </button>
                    </h2>
                    <div id="collapse-author-list" class="accordion-collapse collapse"
                        aria-labelledby="collapse-author-list">
                        <div class="accordion-body accordion-list" id="author-list-accordion">
                            <!-- will need to pass separate list consisting of unique authors and for labels also -->
                            <% for(item of uniqueAuthors) {%>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="<%=item%>"
                                        id="author-<%=item%>">
                                    <label class="form-check-label" for="author-<%=item%>">
                                        <%=item%>
                                    </label>
                                </div>
                                <% }%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- filter btn -->
        <div class="col-auto mt-4 "><button class="btn btn-primary fs-5 px-4" id="filter-btn">filter</button></div>
        <div class=" mt-4 display-6 text-muted text-center">OR</div>
        <!-- Search -->
        <h4 class="text-muted">Search</h4>
        <div class="col-12 text-center" id="search">
            <form action="" id="search-form" name="searchForm">
                <input type="search" class="form-control input-lg" id="search-input"
                    placeholder="Search Title or Description" required autocomplete="off">
                <button class="btn btn-primary fs-5 px-4 mt-4 my-5" id="search-btn">Search</button>
            </form>


        </div>
        <!-- list of issues in the project -->
        
        <div class="container ">
            <div class="row gy-3" id="issueContainer">
                <% for( item of issues) { %>
                    <div class="col-12 bg-light my-5 py-3 rounded-3 shadow">
                        <h5>
                            <%= item.issueName %>
                        </h5>
                        <p class="lead ps-2">Author : <%= item.issueAuthor %>
                        </p>
                        <div class="issue-description">

                            <div class="accordion ps-2" id="accordion-<%=item.id%>">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse-<%=item.id%>"
                                            aria-expanded="false" aria-controls="collapseTwo">
                                            <strong>Description:</strong>
                                        </button>
                                    </h2>
                                    <div id="collapse-<%=item.id%>" class="accordion-collapse collapse"
                                        aria-labelledby="headingTwo" data-bs-parent="#accordion-<%=item.id%>">
                                        <div class="accordion-body">
                                            <%= item.issueDescription%>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="issue-labels mt-3 ps-2">
                            <div class="badge bg-primary rounded-pill fs-6 px-2 ">
                                Tags :
                            </div>
                            <% for(entry of item.label) { %>
                                <div class="badge bg-info rounded-pill fs-6 px-2 ms-1 ">
                                    <%= entry %>
                                </div>

                                <%}%>
                        </div>
                    </div>
                    <%}%>
            </div>
        </div>

</main>
